NATS_SERVERS=tls://connect.ngs.global
NATS_SUBJECT=keycloak.events
NATS_CREDENTIALS_FILE_TEXT="-----BEGIN NATS USER JWT-----\neyJ0eXAiOiJKV1QiLCJhbGciOiJlZDI1NTE5LW5rZXkifQ...\n------END NATS USER JWT------\n\n-----BEGIN USER NKEY SEED-----\nSUAM...\n------END USER NKEY SEED------"
